// https://bulma.io/documentation/overview/customize/
// 1. Import the initial variables
@import "../../node_modules/bulma/sass/utilities/initial-variables";
@import "../../node_modules/bulma/sass/utilities/functions";

// https://bulma.io/documentation/overview/colors/
$primary: #008000;
$link: #008000;

// 6. Import the rest of Bulma
@import "../../node_modules/bulma/bulma";


$primary-color: white;

body {
  background-color: $primary-color;
}